@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    background-color: #f1f2ed;
    
}

/*Navigation Bar Styles*/

.navbar {
    background-color: #f1f2ed;
    overflow: hidden;
    padding: 10px;
    position: fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 98px;
    width: 100vw;
    z-index: 1;
    transition: height 0.3s ease;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.navbar.small {
    height: 40px; /* Adjust the smaller height as needed */
  }
  
  

.middle-section ul.ul-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.left-section {
    float: left;
}

.middle-section {
    display: flex;
    justify-content: center;
    margin-left: auto;
}

.right-section {
    margin-left: auto;
}

.logo {
    color: #333;
    text-decoration: none;
    font-size: 40px;
    margin-left: 20px;
    text-transform: uppercase;
}
.logo:hover{
  color: blueviolet;
}

.ul-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.li-navbar {
    display: inline-block;
    margin: 0 10px;
}

.li-navbar .a-navbar {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
    transition: 0.25s ease;
}

.ul-navbar:hover .a-navbar {
    color: #9e9e9e;
}

.ul-navbar:hover .a-navbar:hover {
    color: #000000;
    box-shadow: 0 2px 0 0 currentColor;
}

.a-navbar-right {
    color: #333;
    text-decoration: none;
    margin-right: 50px;
    font-size: 20px;
    text-transform: uppercase;
}

.a-navbar-right:hover {
    color: #000000;
}
/*End of Navigation Bar Styles*/

/*Page Styling*/
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.div-home {
    animation: fadeIn 0.75s ease; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 50vh;
    
     /* Increased padding for better aesthetics */
    text-align: center; /* Center text content horizontally */
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.123);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
     /* Background color for better visibility */
}

.h1-welcome {
    color: #ffffff;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 5vw;
    margin-bottom: 20px; /* Added margin for spacing */
    padding-bottom: 50px;
}

.button-new-planning{
    width: 200px;
    align-self: center;
}

/* Button styling from https://getcssscan.com/css-buttons-examples button 30 */
button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: rgb(55, 2, 105);

  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}




.module {
    
    background-color: #ffffff;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    /* Add any other styles you need for your module */
}
#module-home {
  background-image: url('../resources/home-background.jpg');
  background-size: cover;
    background-position: center; /* Center the background image */
    background-repeat: no-repeat;
    position: fixed;
}
  
/*Login Styling
for less code and because the login and register are almost the same, the same classnames are used*/

.div-login {
  animation: fadeIn 0.75s ease; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  
   /* Increased padding for better aesthetics */
  align-items: center;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.123);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
   /* Background color for better visibility */
}

.h1-login {
  color: -webkit-linear-gradient(#eee, #333);
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 5vw;
  margin-bottom: 20px; /* Added margin for spacing */
  padding-bottom: 50px;
  
}
#module-login {
  background-image: linear-gradient(35deg, #333 50%, #ffffff 50%)
}
/*Form styles from https://codepen.io/lucasyem/pen/ZEEYKdj adjusted*/

.loginform__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 35%;
}

.loginform__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .loginform__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.loginform__label {
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fff;
}

.loginform__field:focus {
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #fff, blueviolet);
  border-image-slice: 1;
}
/* reset input */
.loginform__field{
  &:required,&:invalid { box-shadow:none; }
}
.login_register{
  padding-top: 15px;
  display: flex;
  align-items: center;
}
.p_login{
  color: #fff;
  margin-right: 1rem;
}
.a_login{
  
  color: #b086ff;
}
.button-login{
  width: 30%;
  align-self: center;
}
.button-register{
  width: 30%;
  align-self: center;
}




/*End of Login Styling*/


/*End of Page Styling*/

.space-after-module {
    height: 100vh; /* Adjust this value based on your needs */
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    position: relative; /* Change from fixed to relative */
}
  
  .footer-content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    margin-right: 30px;
  }
  
  .footer-section h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  
  .social-icon,
  .link {
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 16px;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    font-size: 14px;
  }
  
  /* End of Footer Styles */
  
  